#middle-bar{
    width: 60%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pointer{
    cursor: pointer;
}

#middle-bar h1{
    text-align: center;
}

.goal-title-container{
    display: flex;
    align-items: center;
}

.goal-title-container img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

#not-approved-container{
    width: 100%;
    margin-top: 60px;
}

#password-reset-button-modal{
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

#password-reset-button{
    cursor: pointer;
}

#button-reset-password{
    margin-top: 20px;
}

#error-message-reset-password{
    color: red;
}

#succes-message-password-reset{
    color: green;
}

.page-header{
    width: 80%;
    background-color: #47acc3;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M0 53.53C22.71 15.96 39.57 17.24 84.65 0C109.57 -9.53 112.32 0 140 0C210 0 210 0 280 0C330.78 0 332.91 -7.83 381.57 0C402.91 3.43 400.38 22.53 420 22.53C442.39 22.53 441.08 3.94 465.58 0C511.08 -7.32 512.79 0 560 0C630 0 630 0 700 0C765.34 0 816.67 -31.89 830.67 0C847.4 38.11 758.73 76.14 761.46 140C763.4 185.41 802.86 218.54 840 218.54C873.7 218.54 902.24 183.6 903.14 140C904.5 74.33 824.21 36.99 844.52 0C862.64 -33.01 912.26 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1459.39 0 1465.09 -11.19 1518.79 0C1535.09 3.4 1537.4 11.98 1540 29.17C1548 81.98 1540 84.59 1540 140C1540 210 1540 210 1540 280C1540 346.32 1546.56 350.37 1540 412.63C1539.19 420.37 1530.2 413.5 1525.26 420C1474.2 487.19 1481.79 499.88 1428 560C1419.16 569.88 1414 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1080 560 1063.05 584.41 1040 560C996.94 514.41 1015.94 488.48 987.78 420C985.94 415.52 984.18 414.08 980 414.08C974.29 414.08 972.01 414.71 968 420C916.74 487.67 924.07 500.28 869.47 560C860.07 570.28 854.74 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C506.89 560 505.7 565.59 453.79 560C435.7 558.05 436.11 544.92 420 544.92C408.79 544.92 411.58 558.66 399.15 560C341.58 566.2 339.58 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 373.98 -27.65 349.45 0 327.95C42.35 295.01 81.22 330.73 140 311.11C153.06 306.75 143.68 295.04 143.68 280C143.68 277.15 142.78 276.34 140 275.33C70.94 250.22 43.93 270.22 0 227.76C-26.07 202.56 0 183.88 0 140C0 96.76 -19.61 85.96 0 53.53' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 88.26C540.89 88.26 533.56 113.65 533.56 140C533.56 170.83 539.99 202.63 560 202.63C587.21 202.63 628 169.72 628 140C628 112.53 588.11 88.26 560 88.26' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 220C1243.03 220 1219.62 251.55 1219.62 280C1219.62 303.42 1242.52 323.75 1260 323.75C1274.64 323.75 1283.86 302.6 1283.86 280C1283.86 250.72 1275.15 220 1260 220' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 303.33C692.91 303.33 690.41 361.73 690.41 420C690.41 463.82 692.93 507.5 700 507.5C707.19 507.5 718.92 464 718.92 420C718.92 361.91 707.16 303.33 700 303.33' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 105C57.44 58.77 69.45 65.11 140 27.32C167.45 12.61 166.19 5.82 196 0C236.19 -7.84 238 0 280 0C296.47 0 298.26 -6.58 312.94 0C368.26 24.8 371.3 25.24 420 62.76C462.16 95.24 467.89 94.66 494.67 140C532.05 203.28 518.93 211.65 548.33 280C551.6 287.6 555.36 285 560 291.91C602.43 355 642.47 355.75 642.47 420C642.47 485.23 616.06 532.96 560 550.87C504.83 568.5 485.48 528.53 420 491.08C371.06 463.09 375.85 455.19 331.15 420C305.85 400.09 302.79 403.45 280 380.88C232.09 333.45 233.68 331.44 189.74 280C163.68 249.5 173.65 235.53 140 217C78.78 183.29 56.3 206.49 0 175.52C-13.7 167.99 0 157.76 0 140C0 122.5 -12.56 115.11 0 105' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 12.17C551.53 9.84 546.98 3.52 546.98 0C546.98 -2.57 553.49 0 560 0C630 0 630 0 700 0C707 0 714 -5.05 714 0C714 15.95 718.19 40.56 700 42C641.19 46.65 628.04 30.84 560 12.17' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M971.76 140C981.41 74.69 898.23 46.55 900.97 0C902.35 -23.45 940.49 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1432.88 0 1441.78 -17.48 1465.76 0C1511.78 33.56 1511.46 48.25 1540 102.08C1548.58 118.25 1540 121.04 1540 140C1540 210 1540 210 1540 280C1540 300.26 1554.08 308.46 1540 320.53C1484.08 368.46 1472.3 365.75 1400 400C1367.3 415.49 1344.2 392.71 1330 420C1302.58 472.71 1341.7 510.13 1316.76 560C1306.7 580.13 1288.38 560 1260 560C1207.5 560 1205.12 568.08 1155 560C1135.12 556.79 1132.05 553.89 1120 537.42C1080.84 483.89 1094.42 471.57 1052.59 420C1024.42 385.26 1018.96 364.79 980 364.79C926.66 364.79 919.51 386.81 868 420C849.51 431.91 853.76 455 840 455C826.52 455 813.51 439.41 813.51 420C813.51 386.91 828.31 385.51 840 350C851.35 315.51 840.6 310.28 859.6 280C906.48 205.28 960.73 214.69 971.76 140' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 112.55C1065.33 115.7 1012.31 118.57 1012.31 140C1012.31 164.12 1077.9 161.54 1120 203.64C1147.9 231.54 1128.3 246.89 1152.31 280C1198.3 343.4 1213.37 396.67 1260 396.67C1299.03 396.67 1319.88 340.74 1323.64 280C1327.83 212.4 1303.71 207.4 1275.91 140C1271.89 130.26 1270.29 127.52 1260 125.71C1192.34 113.8 1189.17 108.56 1120 112.55' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 375.89C26.36 375.89 78.54 391.78 78.54 420C78.54 456.2 22.65 504.74 0 504.74C-16.62 504.74 0 462.37 0 420C0 397.94 -12.91 375.89 0 375.89' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M184.55 560C184.55 543.21 238.06 498.24 280 498.24C308.12 498.24 324.68 540.53 324.68 560C324.68 571.41 302.34 560 280 560C232.27 560 184.55 574.09 184.55 560' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M70 140C70 128.29 106.67 112.68 140 112.68C160.98 112.68 178.62 127.94 178.62 140C178.62 150.94 160.2 158.67 140 158.67C105.89 158.67 70 151.29 70 140' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M346.82 140C379.54 116.08 386.53 102.99 420 102.99C441.01 102.99 448.38 116.38 455.78 140C476.09 204.88 447.33 218.99 475.42 280C499.44 332.18 521.01 320.55 560 366.38C580.56 390.55 594.52 393.11 594.52 420C594.52 447.31 586.94 472.12 560 474.78C499.68 480.73 487.86 460.24 420 437.23C407.09 432.85 409.39 428.41 398.46 420C339.39 374.5 336.3 377.87 280 329.41C254.97 307.87 235.79 306.87 235.79 280C235.79 244.83 253.27 239.03 280 205.33C308.79 169.03 309.54 167.25 346.82 140' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 43.75C958.85 38.04 957.42 15 957.42 0C957.42 -6.88 968.71 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1406.36 0 1409.84 -5.36 1412.73 0C1447.53 64.64 1455.99 66.93 1475.38 140C1493.14 206.93 1508.66 223.33 1487.03 280C1470.97 322.08 1437.38 337.5 1400 337.5C1375.57 337.5 1370.7 312.3 1363.41 280C1348.42 213.55 1382.45 198.94 1355.45 140C1330.75 86.08 1316.21 77.23 1260 54.29C1198.49 29.19 1190.1 46.56 1120 43.92C1050.1 41.29 1040.14 60 980 43.75' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M929.6 280C929.6 252.08 951.05 217 980 217C1016.9 217 1061.29 253.56 1061.29 280C1061.29 302.8 1018.85 315.49 980 315.49C953 315.49 929.6 301.33 929.6 280' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1117.41 420C1117.41 415.17 1117.67 410 1120 410C1122.86 410 1127.78 415.75 1127.78 420C1127.78 423.01 1123.28 424.52 1120 424.52C1118.1 424.52 1117.41 422.43 1117.41 420' stroke='rgba(255%2c 255%2c 255%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.page-header h1{
    color: white;
}

.page-header p{
    color: white;
}

.hide-message-options{
    display: none;
}

.profile-results{
    width: 80% !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.about-me-user-text h3{
    text-align: left;
}

.button-about-me{
    margin-top: 20px;
}

.about-me-inner-container{
    margin: 30px;
}

.about-me-section{
    margin: 20px;
}
.delete-button-simple{
    color: red;
    border: none;
}

.impactpath-container{
    width: 80%;
}

.calender-container{
    width: 80%;
    margin-bottom: 100px;
}

.month-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.calendar-weekdays{
    margin: 10px 0px -8px 0px;
    font-weight: 600;
}

.day-container{
    min-height: 100px;
    width: auto;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35px;
}

.current-day{
    background-color: lightgray;
    border-radius: 50%;
    padding: 5px;
}

.calendar-navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-navigation-container button{
    border-radius: 5px;
    color: white;
    margin-right: 20px;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    min-height: 90vh;
  }

#sub-title-new-client{
    color: #f48183;
}

.calendar-navigation-next-prev-container img{
    height: 20px;
}

.calendar-navigation-next-prev-container{
    margin-right: 20px;
    cursor: pointer;
}

.arrow-down-container{
    display: flex;
    justify-content: center;
}

.arrow-down-container img{
    width: 100px;
}

.logo-container img{
    max-width: 150px;
}

#start-image{
    border-radius: 5px;
    width: 100%;
}

.profile-settings-delete-icon{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.activity-details-container{
    margin-left: 5%;
}

.activity-details-inner-container{
    border-left: gray 1px solid;
    padding-left: 10px;
}

.button-container-colors{
    margin-top: 10px;
}

.impact-path-section-container{
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%)
}

.card{
    height: auto;
    min-height: 300px;
    width: 200px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-input-container{
      margin: 20px 20px 20px 0px;
      width: 100%;
      display: flex;
  }

  .input-label-container{
      display: flex;
      align-items: center;
  }

  .article{
    height: auto;
    min-height: 300px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
  }

  .delete-channel{
      height: 30px;
      width: 30px;
      cursor: pointer;
  }

  .list{
    height: 200px;
    width: 90%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 30px 30px 30px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile{
    background-color: white;
    margin-top: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  }

  .client-styles-container{
      display: flex;
      flex-wrap: wrap;
  }

  .subtitle-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -35px;
  }

  .results-container{
      padding: 20px;
  }

  .list img{
      max-width: 30%;
      height: 100%;
  }

  .card img{
      width: 100%;
      height: 150px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      object-fit: cover;
  }

#profile-header-photo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.ReactModal__Overlay{
    z-index: 5;
}

.tox .tox-editor-container {
    z-index: 1;
}

.add-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-detail-banner{
    width: 100%;
    margin: 0px 0px;
}

.userrole-users-container{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 3px;
}

.userrole-select{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: gray;
}

.userrole-users-container img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.userrole-users-delete-button{
    color: red;
    margin-left: auto;
    margin-right: 0px;
    cursor: pointer;
    font-size: 10px;
    width: 20px !important;
    height: 20px !important;
    border-radius: 0px !important;
}

#user-compagny{
    cursor: pointer;
}

.delete-button-my-introductions-container img{
    width: 25px;
    align-self: left;
    cursor: pointer;
    margin-left: 2px;
}

.notification-sidebar-container{
    display: flex;
}

.notification-sidebar-container p{
    margin: 0px 0px 0px 3px;
    padding: 2px;
    font-size: 11px;
}

.userrole-users-approve-button{
    color: green;
    margin-left: auto;
    margin-right: 0px;
    cursor: pointer;
    font-size: 10px;
}



.button-userrole-container{
    margin-top: 20px;
}

  .plus-icon{
      width: 35px;
      cursor: pointer;
      margin-top: 20px;
  }

  #add-goal-form{
      margin: 30px;
      width: 90%;
  }

  .goal-list{
      align-items: center;
  }

  #introductions-textarea{
    width: 100%;
    margin-bottom: 20px;
  }

  .photo-container-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0px;
  }

  .goalcard-body-div{
      padding: 20px;
      text-align: center;
      word-break: break-all;
  }

  .button-container-register{
      margin: 20px;
  }

  .type-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
  }

  .save-bar{
      bottom: 0;
      position: sticky;
      background-color: white;
      display: flex;
      justify-content: center;
      padding: 20px;
  }

  .sub-title{
      text-align: center;
  }

  #login-form{
      width: 300px;
  }

  .spinner-container{
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  .spinner-container img{
      height: auto;
      width: 300px;
      border-radius: 5px;
  }

  .save-bar button{
      border-radius: 3px;
      background-color: green;
      color: white;
      border-color: green;
  }

  .auth-name{
      margin-right: 5px;
      color: #959595;
      cursor: pointer;
  }

  .event-detail-button{
      margin: 30px;
  }

  .message-outer-container{
      width: 80%;
  }

  .goal-user-meta-container{
      display: flex;
      justify-content: space-between;
      width: 90%;
      border: 1px solid lightgray;
  }

  .goal-user-container{
      display: flex;
  }

  .ais-SearchBox{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
  }

  .hit-container{
      border: 1px solid lightgray;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
  }

  .hit-container h2{
      text-align: left;
  }

  #button-notifications-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .right-panel{
      width: 100%;
      margin-top: 50px;
  }

  .ais-SearchBox-form{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ais-SearchBox-submit{
      display: none;
  }

  .ais-SearchBox-reset{
      display: none;
  }

  .registration-field-input{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid lightgray;
      padding: 5px;
      height: 40px;
  }

  .registration-field-input img{
      height: 15px;
      width: 15px;
      cursor: pointer;
  }

  .subscription-container p{
      color: red;
      margin-left: auto;
      margin-right: 10px;
      cursor: pointer;
      font-size: 12px;
  }

  .field-textarea-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 5px 10px 40px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .field-input-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #match-items-filter-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .add-registration-field-container{
      display: flex;
      justify-content: left;
      align-items: center;
      background-color: #a7bdbd26;
      margin: 0px 0px 10px 10px;
      padding: 5px 25px 5px 5px;
  }

  #group-meta-div{
      margin: 30px;
  }

  #group-notice{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px;
      background-color: #a7bdbd26;
      border-radius: 15px;
      padding: 10px;
  }

  #group-notice h3{
      text-align: center;
  }

  .add-registration-field-container img{
      border: 1px solid lightgray;
      margin-left: auto;
      margin-right: 0px;
  }

  .drag-icon{
      margin-left: 0px !important;
      margin-right: 20px !important;
      border: none !important;
      height: 20px;
      width: 20px;
  }

  #logo-subscription-container{
      display: flex;
      align-items: center;
  }

  #logo-subscription-container p{
      color: rgb(99, 202, 220);
      font-size: 12px;
      font-weight: bold;
  }

  .premium-notice-outer-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #premium-notice-container{
      height: 300px;
      border-radius: 5px;
      width: 100%;
      padding: 20px;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      background-color: #63cadc;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #premium-notice-container h1{
    color: white;
  }

  #premium-notice-container h2{
    color: white;
  }

  #premium-notice-container p{
    color: white;
  }

  #premium-notice-container button{
    border-radius: 5px;
    border: 1px solid #f48183;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    background-color: #f48183;
    cursor: pointer;
    color: white;
  }

  #premium-notice-container a{
    margin: auto 0px 10px 0px;
  }
  
  .ais-Hits-list{
    list-style-type: none;
    padding-left: 0px;
    }

  .message-options-inner-container{
      display: none;
      justify-content: space-between;
      background-color: #a7bdbd26;
  }

  .main-login-register{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #a7bdbd26;
  }

  .select-organisation{
      cursor: pointer;
  }

  .channel-div-login-register{
      margin: 20px;
  }

  .channel-inner-div-login-register{
    display: flex;
    justify-content: center;
  }

  .channel-inner-div-login-register p{
      margin: 5px;
  }

  .login-register-container{
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0px 20px;
  }

  .login-register-container img{
      width: 30px;
  }

  .message-options-container{
    margin-top: 10px;
  }

.like-icon-container-profile{
    display: flex;
    justify-content: center;
    margin: 10px 10px 20px 10px;
}

.like-icon-container-profile img{
    width: 30px;
    height: 30px;
}

  .chat-screen a{
      text-decoration: underline;
  }

  .send-as-mail-container button{
      border-color: lightgray;
      border-radius: 3px;
      color: gray;
      font-size: 12px;
  }

  .send-as-mail-container select{
      padding: 4px;
      border-radius: 3px;
      border-color: lightgray;
  }

  .goal-progress-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #a7bdbd26;
      width: 100%;
      margin-bottom: 20px;
      padding: 5px;
      border-radius: 5px;
  }

  .goal-user-container img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
  }

  .chats-overview-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%;
      min-height: 150px;
      cursor: pointer;
      border-radius: 5px;
      border-top: 1px solid lightgray;
  }

  .messagebar-outer-cointainer{
      width: 80%;
  }

  .chatpartner-meta-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
  }

  .chat-overview-username{
      margin-right: 10px;
      color: #2F2C41;
  }

  .chats-overview-container img{
      width: 30px !important;
      height: 30px !important;
      border-radius: 50%;
      margin-right: 10px;
  }

  #log-out-button{
    border-radius: 3px;
    background-color: red;
    color: white;
    border-color: red;
    margin: 5px;
  }

  .article-meta-container{
      width: 80%;
  }

  #event-detail-timestamp{
      text-align: center;
  }

  .nav-title-container{
      display: flex;
      align-items: center;
  }

  .nav-title-container img{
      margin-left: 5px;
  }

  .settings-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .channel-container{
      display: flex;
      margin: 10px;
      padding: 10px;
      border: 1px solid lightgrey;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
  }

  .update-button-channel{
      display: none;
  }

  .goal-card-banner{
      width: 100%;
      height: 50%;
  }

  .new-group-container{
      margin-bottom: 20px;
  }

  .new-channel-container{
      margin-bottom: 20px;
  }

  .channel-container img{
      width: 20px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
      justify-self: flex-end;
  }

  .layout-container{
      display: flex;
      justify-content: space-evenly;
  }

  #delete-account-button{
    border-radius: 3px;
    background-color: darkred;
    color: white;
    border-color: darkred;
    margin: 5px;
  }

  .type-container img{
      width: 20px;
      height: 20px;
  }

  .contribution-card-ul{
      list-style-type: none;
  }

  .introduction-card{
    align-items: center;
    padding: 0px 0px 20px 0px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    width: 80%;
  }

  #search-bar{
      width: 70%;
      border-radius: 15px;
      padding: 10px;
  }

  #search-container{
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .introduction-reaction-button{
      margin: 20px;
  }

  .timestamp-public-profile{
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}

  .color-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
  }

  #members-container img {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border-radius: 50%;
      object-fit: cover;
  }

  .activity-card-banner{
      width: 100%;
  }

  .public-profile-photo{
      border-radius: 50%;
      align-self: center;
      margin: 30px;
      width: 300px;
      height: 300px;
      object-fit: cover;
  }

  .public-profile-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
  }

  .button-verification{
      margin: 20px;
  }

  .start-banner h2{
      margin-bottom: 50px;
  }

  .no-email-button-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top:  1px solid lightgray;
      margin-top: 100px;
      padding-bottom: 15px;
      border-bottom:  1px solid lightgray;
  }

  .no-email-button-container p{
    color: #2F2C41;
  }



  .settings-inner-container{
      padding: 20px;
  }

  .radio-input-container{
      display: flex;
  }

  .radio-input-container input{
      width: auto;
      box-shadow: none;
  }

  .profile-auth-profile{
      width: 80%;
      padding: 20px;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      margin: 50px;
  }

  .profile-auth-profile h2{
      text-align: left;
  }

  .profile-auth-goal{
    width: 60%;
    padding: 20px;
  }

  .profile-inner-container{
    padding: 20px;
    width: 80%;
    background: white;
    margin: 50px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }

  .allActivity-user-photo{
      width: 35px !important ;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
  }

  .new-messages{
      color: green;
      margin-left: 10px;
  }

  .description-container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
  }

  #adjust-photo-profile{
      border-radius: 50%;
      width: 50%;
  }

  #still-no-mail-notice{
      color: #959595;
  }

  .message-inner-container{
      width: 80%;
  }

  .username{
      margin-right: 5px;
      cursor: pointer;
      font-weight: bold;
  }

  .user-meta-goal-card{
      display: flex;
  }

  .user-goal-card{
      margin-left: 5px;
      cursor: pointer;
      color: #d11237;
  }

  .user-goal-card:hover{
      font-weight: bold;
  }

  .auth-message-container{
      display: flex;
      align-items: center;
  }

  .auth-photo-container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  .goal-detail-container{
      padding-bottom: 90px;
  }

  .all-members-member-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
  }

  .all-members-member-container img{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
  }

  .group-container{
      width: 100%;
      margin-top: 20px;
      border-radius: 5px;
      flex-direction: column;
      display: flex;
      align-items: center;

  }

  .left-side-bar-full-screen{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .chatpartner-container{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #about-me-container{
      padding-bottom: 100px;
  }

  .user-photo{
    height: 50px;
    width: 50px !important;
    border-radius: 50%;
    margin-right: 10px;
  }

  .notification-card{
    width: 80%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 30px 30px 30px;
    border-radius: 5px;
    background-color: #FFF;
    text-align: center;
    padding: 20px;
  }

  .notification-card-inner-container{
      padding: 20px;
  }

  .notification-card p{
      text-align: center;
  }

  .notification-card ul{
      text-align: center;
      padding-inline-start: 0px;
  }

  .user-meta-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
  }

  .notification-counter{
      border-radius: 50%;
      background-color: green;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px -7px 10px;
      width: 15px;
      height: 15px;
      font-size: 11px;
  }

  .notification-counter-small{
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px -7px 10px;
    width: 10px;
    height: 10px;
}

  .login-logo{
      width: 80%;
  }

  .introductioncard-timestamp{
      color: lightgray;
  }

  .left-side-bar-toggle img{
      width: 40px;
      height: 40px;
  }

  .left-side-bar-toggle{
      display: flex;
      margin: 0px 0px 0px 0px;
      cursor: pointer;
  }

  .block{
    margin: 20px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    width: 30%;
  }

  .block p{
      font-size: 18px;
  }

  #add-item-channel-settings-detail-button{
      width: 30px;
      height: 30px;
      cursor: pointer;
  }

  .effect-title-container{
      display: flex;
      align-items: center;
  }

  .groupsettings-detail-member-container img{
      height: 30px;
      width: 30px;
      margin-right: 10px;
      border-radius: 50%;
  }

  .groupsettings-detail-member-container{
      display: flex;
      cursor: pointer;
      align-items: center;
  }

  .effect-title-container img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
  }

  #search-icon{
      margin-top: 20px;
  }

  .select-profiel-field-container{
      display: flex;
      align-items: center;
  }

  .select-profiel-field-container input{
      width: 15px;
      box-shadow: none;
  }

  .select-profiel-field-container label{
      display: flex;
      align-items: center;
  }

  .add-registration-field-container p{
      margin: 20px;
  }

  #notification-false{
      display: none;
  }

  .button-login{
      margin-top: 20px;
  }

  .start-banner{
      margin-bottom: 50px;
  }

  .button-goal-message-container{
      margin-top: 20px;
  }

  .notification-message{
      cursor: pointer;
  }

  .notification-goal{
      cursor: pointer;
  }

  .notification-timestamp{
      color: lightgray;
  }

  .activity-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;
      margin: 20px 0px;
      background-color: white;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      border-radius: 5px;
  }

  .goal-detail-banner{
      width: 100%;
  }

  .activity-container h2{
      text-align: left;
  }

  .goal-activity-header{
      flex-direction: column;
  }

  .like-container{
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
  }

  .like-count-container{
      display: flex;
      justify-content: center;
      margin: 20px;
      cursor: pointer;

  }

  .like-count-container p{
      padding: 2px;
      font-size: 11px;
      margin-left: 0px;
  }

  .like-count-container img{
      width: 30px;
      height: 30px;
  }

  .previous-message-container{
      display: flex;
      margin-top: 20px;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      width: 85%;
  }

  .previous-message-container img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
  }

  .header-title-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .settings-inner-container h2{
      text-align: left;
  }

  .settings-inner-container p{
      margin-bottom:  0px;
  }

  .graph-div-contributions-container{
      width: 80%;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      background-color: white;
      border-radius: 5px;
      padding: 5px;
  }

  .sdg-type{
      color: #2F2C41;
      margin-left: 10px;
  }

  .back-to-community-container{
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }

  .back-to-community-container img{
      width: 20px;
      height: auto;
      margin-right: 5px;
  }

  .my-message-message-container{
      cursor: pointer;
  }

  .introductions-list{
      min-height: 100px;
      flex-direction: column;
      width: 80%;
  }

  .introduction-list-inner-container{
      padding: 15px;
  }

  .task-detail-header{
      flex-direction: column;
  }

  .introductions-list input{
      width: 70%;
  }

  .introductions-list img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .introductions-container{
      background-color: white;
      border-radius: 5px;
      width: 80%;
      margin-bottom: 20px;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }

  .activity-card-body{
      font-size: 16px;
      margin-top: 40px;
      align-self: center;
  }

  #plus-icon-goal-settings{
      width: 30px;
      height: 30px;
      margin-left: 10px;
  }

  #input-introduction-card{
      margin-bottom: 20px;
      width: 80%;
  }

  .rule-input-container{
      display: flex;
  }

  .rule-input-container p{
      margin-right: 10px;
  }

  #introduction-input-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
  }

  .like-goal-container{
      display: flex;
  }

  .contributions-amount-profile{
      text-align: center;
      cursor: pointer;
  }

  #button-add-event{
      margin-bottom: 30px;
  }

  .activity-card-button{
      color: green;
      cursor: pointer;
      align-self: center;
  }

  .like-goal-container select{
      margin: 5px;
      border-radius: 3px;
      border-color: lightgrey;
      max-width: 30%;
  }

  #register-event-button-container{
      display: flex;
      justify-content: center;
  }

  .event-detail-button-signedup{
      background-color: white;
      border-color: lightgray;
      color: lightgray;
      margin: 20px;
      cursor: default;
  }

  #show-calendar-button-hidden{
      display: none;
  }

  #show-calendar-button{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  #show-calendar-button p{
      text-align: center;
  }

  #show-calendar-button img{
      width: 20px;
      margin-right: 10px;
  }

  .user-container-activity-card{
      display: flex;
      align-items: center;
  }

  .activity-card-timestamp{
      text-align: center;
  }

  #add-channel-container input {
      margin: 20px 0px;
  }

  .list-banner{
      margin-bottom: 0px;
  }

  .card-banner{
    margin-bottom: -58px;
}

  .article-card-user-container img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
  }
  
  .list-card-timestamp{
      color: lightgray;
  }

  .event-meta-container{
      text-align: start;
  }

  .location-container{
      display: flex !important;
      flex-direction: row !important;
      align-items: center;
      text-align: start;
      justify-content: start;
  }

  .location-container img{
      height: 30px;
      width: 30px;
  }

  .location-container ul{
      list-style-type: none;
  }

  .card-inner-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.card-inner-container button{
   align-self: center;
}

  .left-side-bar-toggle{
    display: none;
    }

.bottom-bar{
    display: none;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}

.group-outer-container{
    display: flex;
    width: 100%;
}

.SDG-select{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border-color: lightgray;
    color: gray;
    font-size: 14px;
}

.more-sdg{
    cursor: pointer;
    font-size: 12px;
}

.add-channel-icon{
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.my-message{
    cursor: pointer;
}

.layout-container{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.layout-container img{
    width: 200px;
    height: 205px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.button-container-public-profile{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-signups-container{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px;
}

.signup-container{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}

.my-event-card button{
    margin-right: 0px;
    margin-left: auto;
}

.my-event-card h3{
    margin-right: 20px;
}

.my-event-list-container{
    width: 85%;
}

.signup-container img{
    width: 60px;
    margin-right: 10px;
}

.signup-timestamp{
    margin-right: 0px;
    margin-left:  auto;
}

.events-signups-container p{
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

.events-signups-container button{
    margin-right: 0px;
    margin-left: auto;
}

.layout-container h5{
    text-align: center;
}

.layout-container img:hover{
    box-shadow: none;
}

.left-sidebar-container-mobile{
    display: none;
}

.reaction-button{
    margin-top: 20px;
}

.send-as-mail-button{
    border-color: lightgray;
    border-radius: 3px;
    color: gray;
    font-size: 12px;
}

.task-calendar-container{
    width: 85%;
}

#footer-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

#footer-container a{
    padding: 5px;
    font-size: 12px;
    color: black;
    font-weight: 400;
}

#footer-container img{
    width: 10px;
    height: 10px;
}

.my-messages-delete-button{
    cursor: pointer;
    width: 20px ;
    height: 20px ;
    margin: 0px 10px 10px 10px;
}

.user-compagnies-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.user-compagnies-container img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.new-client-container{
    background-color: rgba(131,237,255,.0784313725490196);
    padding: 50px 50px 50px 50px;
}

.new-client-container p{
    font-size: 20px;;
}

#title-new-client{
    color: #206d7e;
    font-size: 40px;
}

.new-client-button-container button{
    border-radius: 5px;
    border: 1px solid #f48183;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    color: white;
    background-color: #f48183;
    cursor: pointer;
}

@media only screen and (max-width: 1024px){

    .top-bar-logo{
        margin-left: 30px;
    }

    .left-side-bar-toggle{
        display: block;
    }

    .right-sidebar{
        display: none;
      }

    .bottom-bar{
        display: block;
    }

    .icon-bar-big-screen{
        display: none !important;
    }

    .iconbar-external-container{
        display: none;
    }

    .profile-photo img{
        margin-right: 5px;
    }

    .description-container{
        flex-direction: column;
    }

    .group-container{
        width: 100%;
        border-radius: 0px;
        margin: 10px;
        flex-direction: column;
    }

    .profile{
        width: 80%;
        border-radius: 0px;
    }

    .notification-card {
        width: 80%;
    }

    .notification-card h2{
        text-align: left;
        word-break: break-word;
    }

    .channel-inner-div a{
        font-size: 18px;
    }

    .channel-div h3{
        font-size: 20px;
    }

    .reaction-inner-container{
        flex-direction: column;
    }

    .auth-message-container {
        justify-content: center;
    }

    .message-card-timestamp {
        margin: 0px 0px 0px 0px;
    }

    .article-body-container {
        width: 90%;
    }

    .auth-message-container img {
        margin-right: 0px;
    }

    .massage-container{
        margin-left: 0px;
      }

    .left-sidebar-container-mobile{
        display: flex;
        width: 100%;
        margin-left: 20px;
    }

    .left-side-bar{
        display: none;
    }

    .message-outer-container {
        width: 100%;
    }

    .list-inner-container {
        overflow: hidden;
    }

    .article-card-user-container {
        min-width: 0%;
    }

    .chat-screen {
        padding: 20px 0px;
        width: 90%;
    }

    .back-to-community-container p{
        font-size: 18px;
    }

    .calendar-event-container {
        width: 20px;
    }

    .calendar-navigation-container button {
        margin-right: 0px;
    }

}

  