.output-effects-container{
    width: 100%;
}

.output-effects-inner-container{
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background-color: #83edff14;
    border-radius: 5px;
    padding: 5px;
}

.output-effects-meta-container{
    border-top: 1px solid lightgray;
    margin-right: 20px;
    margin-left: 20px;
}

.output-effects-meta-container select{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.output-effects-inner-container textarea {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.output-effects-inner-container select {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.sub-effects-container{
    margin-left: 30px;
    width: 95%;
}

.output-effects-dashborad-container{
    margin-left: 30px;
    width: 90%;
}

.output-effects-outer-container{
    display: flex;
    align-items: center;
}

.output-effects-outer-container img{
    width: 20px;
    height: 20px;
}

.output-detail-container{
    padding: 5px;
}

.button-container-outputs{
    justify-content: flex-start;
    margin-left: 30px;
}

.effects-meta-item-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(236, 235, 235);
}

.effects-meta-item-container p{
    margin-right: auto;
}

.effects-meta-item-container select{
    border: 1px solid lightgray;
}